<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-2">
      <a href="#" class="brand-logo">GuiApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Ingresar</a></li>
        <li><a href="#">Registrarse</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>

<agm-map
  [latitude]="mapSettings.lat"
  [longitude]="mapSettings.lng"
  [zoom]="mapSettings.zoom"
  [streetViewControl]="mapSettings.streetView"
  [styles]="mapStyles">
  <agm-marker
    [latitude]="userLocation.lat"
    [longitude]="userLocation.lng">
  </agm-marker>
</agm-map>
