@import "~materialize-css/sass/components/color";
@import "../variables";

agm-map {
  &.card-margin {
    right: 25%;
  }
}

.locations-list-comands {
  padding: $card-padding;

  .btn:not(:first-child) {
    margin-left: 10px;
  }
}

.card {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  width: 25%;
  margin: 0;

  .card-image {
    .circle {
      border-radius: 50%;
    }
  }

  .card-action {
    &:last-child {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}