<!-- HEADER NAVIGATION -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">GuiApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Ingresar</a></li>
        <li><a href="#">Registrarse</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- MAPS -->
<agm-map
  [ngClass]="{'card-margin' : selectedLocation}"
  [latitude]="mapSettings.lat"
  [longitude]="mapSettings.lng"
  [zoom]="mapSettings.zoom"
  [streetViewControl]="mapSettings.streetView"
  [disableDefaultUI]="true"
  [styles]="mapStyles">
  <agm-marker
    [latitude]="userLocation.lat"
    [longitude]="userLocation.lng"
    [openInfoWindow]="true">
    <agm-info-window [isOpen]="true">
      <strong>¡Tu estás aquí!</strong>
    </agm-info-window>
  </agm-marker>

  <!-- Go through locations -->
  <ng-container *ngFor="let loc of locations">
    <agm-marker
      [latitude]="loc.location.lat"
      [longitude]="loc.location.lng"
      [openInfoWindow]="false"
      (markerClick)="displayLocationInfo(loc)">
      <agm-info-window
        (infoWindowClose)="undisplayLocationInfo()">
        <h6>{{loc.title}}</h6>
      </agm-info-window>
    </agm-marker>
  </ng-container>
</agm-map>

<!-- UI BUTTONS LIST -->
<div class="locations-list-comands">
  <a class="btn btn-large waves-effect waves-light">
    <i class="material-icons">apps</i>
  </a>
  <a class="btn btn-large waves-effect waves-light">
    <i class="material-icons">menu</i>
  </a>
</div>

<!-- LOCATION SELECTED CARD -->
<div class="card z-depth-2"
  *ngIf="selectedLocation">
  <div class="card-image">
    <img [src]="selectedLocation.imageUrl">

    <div class="row card-title valign-wrapper">
      <div class="col s3">
        <img class="circle responsive-img"
          [src]="selectedLocation.profilePictureUrl">
      </div>
      <div class="col s9">
        <span class="white-text">
          {{selectedLocation.title}}
        </span>
      </div>
    </div>
  </div>
  <div class="card-content">
    <h5>Descripción</h5>
    <p>{{selectedLocation.description}}</p>
    <h5>Servicios</h5>
    <div class="chip"
      *ngFor="let service of selectedLocation.services">
      {{service | titlecase}}
    </div>
    <h5>Categorias</h5>
    <div class="chip"
      *ngFor="let cat of selectedLocation.categories">
      {{cat | titlecase}}
    </div>
  </div>
</div>
