@import "../styles";

agm-map {
  &.card-margin {
    right: $card-width;
  }
}

.locations-list-comands {
  padding: $card-padding;

  .btn:not(:first-child) {
    margin-left: 10px;
  }
}

.card {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  width: $card-width;
  margin: 0;

  .card-image {
    .circle {
      border-radius: 50%;
      border: 1px solid rgba(255,255,255, .5);
      padding: 0;
      margin: .75rem;
      
      > img {
        border-radius: 50%;
      }
    }

    .card-title {
      margin: 0;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include basic-linear-gradient(rgba(0,0,0,0.0), 0, rgba(0,0,0,0.9), 100%, 180deg);
      }

      * {
        z-index: 2;
      }
    }
  }

  .card-action {
    &:last-child {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}