<!-- HEADER NAVIGATION -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">GuiApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Ingresar</a></li>
        <li><a href="#">Registrarse</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- MAPS -->
<agm-map
  [ngClass]="{'card-margin' : selectedLocation}"
  [latitude]="mapSettings.lat"
  [longitude]="mapSettings.lng"
  [zoom]="mapSettings.zoom"
  [streetViewControl]="mapSettings.streetView"
  [disableDefaultUI]="true"
  [styles]="mapStyles">
  <agm-marker
    [latitude]="userLocation.lat"
    [longitude]="userLocation.lng"
    [openInfoWindow]="true">
    <agm-info-window [isOpen]="true">
      <strong>¡Tu estás aquí!</strong>
    </agm-info-window>
  </agm-marker>

  <!-- Go through locations -->
  <ng-container *ngFor="let loc of locations">
    <agm-marker
      [latitude]="loc.location.lat"
      [longitude]="loc.location.lng"
      [openInfoWindow]="false"
      (markerClick)="displayLocationInfo(loc)">
      <agm-info-window
        (infoWindowClose)="undisplayLocationInfo()">
        <h6>{{loc.title}}</h6>
      </agm-info-window>
    </agm-marker>
  </ng-container>
</agm-map>

<!-- UI BUTTONS LIST -->
<div class="locations-list-comands"
  [ngClass]="{'card-margin' : selectedLocation, 'close-btn-margin': showCategories}">
  <a class="btn btn-large waves-effect waves-light"
    (click)="toggleCategoriesScreen()">
    <i class="material-icons">apps</i>
  </a>
  <a class="btn btn-large waves-effect waves-light">
    <i class="material-icons">menu</i>
  </a>
</div>

<!-- LOCATION SELECTED CARD -->
<div class="card z-depth-2"
  *ngIf="selectedLocation">
  <div class="card-image">
    <img [src]="selectedLocation.imageUrl">

    <div class="row card-title valign-wrapper">
      <div class="col s3 circle">
        <img [src]="selectedLocation.profilePictureUrl">
      </div>
      <div class="col s9">
        <span class="white-text">
          {{selectedLocation.title}}
        </span>
      </div>
    </div>

    <a class="right white-text action-close"
      (click)="undisplayLocationInfo()">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="card-content">
    <div class="card-content-inner">
      <h5>Descripción</h5>
      <p>{{selectedLocation.description}}</p>
      <h5>Servicios</h5>
      <div class="chip"
        *ngFor="let service of selectedLocation.services">
        {{service | titlecase}}
      </div>
      <h5>Categorias</h5>
      <div class="chip"
        *ngFor="let cat of selectedLocation.categories">
        {{cat | titlecase}}
      </div>
    </div>
  </div>
</div>

<!-- CATEGORIES SCREEN -->
<div class="categories"
  *ngIf="showCategories">
  <div class="container">
    <div class="section">
      <h4 class="white-text text-depth-1">Categorías Principales</h4>
    </div>

    <div class="divider z-depth-1"></div>

    <div class="section category-list">
      <div class="row">
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">attach_money</i>
            </h4>
            <h5>Cajeros Automáticos</h5>
          </div>
        </div>
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">account_balance_wallet</i>
            </h4>
            <h5>Redes de Cobranza</h5>
          </div>
        </div>
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">local_gas_station</i>
            </h4>
            <h5>Estaciones de Servicio</h5>
          </div>
        </div>
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">account_balance</i>
            </h4>
            <h5>Bancos</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h4 class="white-text text-depth-1">Más Categorías</h4>
    </div>

    <div class="divider z-depth-1"></div>

    <div class="section category-list">
      <div class="row">
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">attach_money</i>
            </h4>
            <h5>Cajeros Automáticos</h5>
          </div>
        </div>
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">account_balance_wallet</i>
            </h4>
            <h5>Redes de Cobranza</h5>
          </div>
        </div>
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">local_gas_station</i>
            </h4>
            <h5>Estaciones de Servicio</h5>
          </div>
        </div>
        <div class="col m4 l3 s6">
          <div class="category z-depth-1 hoverable">
            <h4 class="category-icon">
              <i class="material-icons">account_balance</i>
            </h4>
            <h5>Bancos</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="right white-text action-close"
    (click)="closeCategoriesScreen()">
    <i class="material-icons text-depth-1">close</i>
  </a>
</div>
