/* You can add global styles to this file, and also import other style files */
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";

@import "~materialize-css/sass/components/color";
@import "./variables";
@import "./mixins";
@import "~materialize-css/sass/materialize";

html, body { overflow: hidden; }

* {
}

.btn, .btn-large {
  padding: 0 1rem;
}

.action-close {
  position: absolute;
  top: 24px;
  cursor: pointer;

  &.right {
    right: 24px;
  }

  &.left {
    left: 24px;
  }

  .material-icons {
    font-size: 32px;
    line-height: 32px;
    width: 32px;
    height: 32px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  }
}

agm-map {
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}